<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title>我的家，我做主！</title>
    <link rel="stylesheet" href="../static/css/semantic.css" media="screen" title="no title">
    <style media="screen">
        .header {
            height: 36px;
            background-color: pink;
        }

        .main {
            width: 1000px;
            height: 800px;
            background-color: gray;
            margin: 0 auto;
        }

        .footer {
            height: 100px;
            background-color: pink;
        }
    </style>
</head>

<body>
    <div class="header">
        <div class="header-top">
            <div class="ui right floated buttons">
                <a href="index.html">
                    <button class="ui button">注册</button>
                </a>
                <div class="or" data-text="||"></div>

                <a href="index.html">
                    <button class="ui  button">登录</button>
                </a>
            </div>
        </div>
    </div>

    <div class="main">
        <div class="content">
            <div class="ui large form">
                <div class="two fields">
                    <div class="field">
                        <label>手机号码</label>
                        <input placeholder="手机号" type="text">
                    </div>
                </div>


                <div class="two fields">
                    <div class="field">
                        <label>昵称</label>
                        <input placeholder="老王" type="text">
                    </div>
                </div>



                <div class="two fields">
                    <div class="field">
                        <label>工种</label>
                        <input placeholder="水电工" type="text">
                    </div>
                </div>


                <div class="two fields">
                    <div class="field">
                        <label>作业地区</label>
                        <input placeholder="安徽-马鞍山" type="text">
                    </div>
                </div>

                <div class="two fields">
                    <div class="field">
                        <label>报价说明</label>
                        <textarea></textarea>
                    </div>
                </div>

                <div class="ui submit button">注册</div>
            </div>

        </div>
    </div>

    <div class="footer">
        我是尾部
    </div>

</body>

</html>
