<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <title></title>
    <script src="http://code.jquery.com/jquery-2.1.1.min.js" charset="utf-8"></script>

    <script type="text/javascript">
        // $("*").css("border", "1px solid red")
        // $(".ast").css("border", "1px solid red")
        $("div").css("border", "1px solid red")
    </script>
</head>

<body>
    <div>
        <li class="ast">1 <a href="#">超级链接1</a></li>
        <li id="ll">1 <a href="#">超级链接1</a></li>
        <li>1 <a href="#">超级链接1</a></li>
        <li>1 <a href="#">超级链接1</a></li>
        <li>1 <a href="#">超级链接1</a></li>
        <li>1 <a href="#">超级链接1</a></li>
        <li>1 <a href="#">超级链接1</a></li>
    </div>
</body>

</html>
